Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

files:
  /etc/cron.d/certbot_renew:
    content: "@weekly root certbot renew\n"
    group: root
    mode: "000644"
    owner: root

container_commands:
  10_installepel:
    command: "sudo amazon-linux-extras install epel"
  20_enable_epel:
    command: "sudo yum-config-manager --enable epel"
  30_installcertbot:
    command: "sudo yum install -y certbot python2-certbot-nginx"